.credentials-label {
    width: 100%;
    text-align: left;
    max-width: 50%;
    margin: auto;
}

.credentials-input {
    width: 100%;
    text-align: left;
    max-width: 50%;
    margin: auto;
}

.option {
    text-align: left;
    width: 100%;
}

.survey-question {
    padding-top: 50px;
    padding-left:7%;
    text-align: left;
    margin: auto;
}

#createAccount {
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    max-width: 60%;
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 45px;
    border-radius: 10px;
}

#createHeader {
    padding-top: 30px;
}

#emailGroup {
    padding-top: 30px;
}

#passwordGroup {
    padding-top: 20px;
}

#subscribeButton {		
    margin-top: 50px;		
    width: 25%;
}

#unsubscribe {
    text-align: center;
    max-width: 50%;
    margin: auto;
    margin-top: 280px;
}